rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Règle spécifique pour le Login par QR Code
    match /auth_requests/{requestId} {
      // Le PC (non connecté) peut créer une demande de connexion
      allow create: if true;
      
      // Le PC peut lire (écouter) la demande qu'il vient de créer
      allow read: if true;
      
      // Seul un utilisateur connecté (via Mobile) peut valider (update) la demande
      allow update: if request.auth != null;
      
      // Suppression autorisée (nettoyage)
      allow delete: if true;
    }

    // Règles par défaut (Restrictif)
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
